@font-face {
  font-family: "iconfont"; /* Project id 4876065 */
  src: url('iconfont.woff2?t=1743337330160') format('woff2'),
       url('iconfont.woff?t=1743337330160') format('woff'),
       url('iconfont.ttf?t=1743337330160') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-dibudaohang:before {
  content: "\e617";
}

.icon-24gl-table:before {
  content: "\eb0a";
}

.icon-rongqi:before {
  content: "\ea06";
}

.icon-rongqi1:before {
  content: "\e6d1";
}

.icon-fuhao-rongqi:before {
  content: "\e6e1";
}

.icon-anniu:before {
  content: "\e6fc";
}

.icon-anniuguanli-02:before {
  content: "\e60d";
}

.icon-myrongqi:before {
  content: "\e793";
}

